body {
   background-color: #2D2C67;
}

span{
  font-weight: bold;
}

.topo {
    width: 1024px;
   height: 136px;
   background-color: #23218E;
   margin: auto;  
}   

.topo2 {
    width: 1024px;
   height: 30px;
   background-color: #23218E;
   margin: auto;  
}   

.logo {
   padding-left: 27px;
   padding-top: 42px;
   width: 327px;
    height: 58px;
}

.container {
   display: flex;
}

.menu {
   width: 1024px;
   height: 36px;
   background: #E3CE42;
   margin:auto;
}

.botao-menu {
   font-family: sans-serif;
   font-size: 20px;
   font-weight: 400;
   line-height: 20px;
   display: inline-block;
   margin-left: 80px;
    margin-right: 50px;
   padding-top: 7px;
   text-decoration: none;
   color: #000000;
}

.selecionado {
   width: 202px;
   height: 29px;
   background: #2D2C67;
   color: #ffffff;
   text-align: center;
   font-family: sans-serif;
   font-size: 20px;
   line-height: 23px;
   display: inline-block;
   margin-left: 27px;
   padding-top: 7px;
   text-decoration: none;
}

.body {
    background-color: #23218E;
    width: 1024px;
    height: 530px;
    margin: auto;
}

.titulo {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 106px;
    color: #FFFFFF;
    margin-left: 24px;
}

.linha {
    width:942px;
    margin:0px;
    border: 1px solid #FFDD00;
    position: absolute;
    height:0px;
    margin-left:25px;
}

.texto {
    width: 852px;
    height: 297px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #FFFFFF;
    margin-left:27px;
    padding-top: 30px;
}

.footer{
  width: 1024px;
  height: 97px;
  background: #413FA7;
  margin: auto;
}

.texto-footer1{
  color:#FFFFFF;
  padding-top:10px;
  font-size:20px;
  font-family:sans-serif;
  display: inline-block;
  margin-left: 13px;
}

.texto-footer2{
  color:#FFFFFF;
  padding-top:10px;
  font-size:20px;
  font-family:sans-serif;
  display: inline-block;
  margin-left: 215px;
}

.termos {
  color:#FFDD00;
  padding-top:9px;
  font-size:20px;
  font-family:sans-serif;
  display: inline-block;
  margin-left: 649px;
}